.hw {
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color: orange;
    align-content: center;
}

.text{
    color:black;
    margin-top:10%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 10%;
    font-size: 20;
    background-color: beige;
}

.tab {
    margin-left:50;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.title{
    margin-left:50;
    font-size:30;
    font-weight: bold;
}