.hw {
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color: orange;
    align-content: center;
}

.text{
    color:black;
    margin-left:10%;
    margin-right:10%;
    font-size: 20px;
}

.tab {
    margin-left:50px;
}

@media (max-width: 900px)
{
	.home
	{

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
		padding: 20px;
	}

	.home iframe
	{
		width: 100%;
		max-width: 550px;
		
	}

	.homecontent
	{
		width:100%;
	}
}